<a href="https://colab.research.google.com/github/RoXtra1/Drawing/blob/main/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_10_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import sqlite3
import pandas as pd

from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [9]:
conn = sqlite3.connect('/content/gdrive/My Drive/СибГМУ/Комп Сети/happy_shop.db')

def show(query, connection=conn):
	  return pd.read_sql_query(query,connection)
	 
def table(table_name,connection=conn):
	  return show(f'SELECT * FROM {table_name}',connection)
	 
df_customer_category = pd.read_excel('/content/gdrive/My Drive/СибГМУ/Комп Сети/CustomerCategory_ID.xlsx')
df_customer = pd.read_excel('/content/gdrive/My Drive/СибГМУ/Комп Сети/Customer_table.xlsx')
df_purchase = pd.read_excel('/content/gdrive/My Drive/СибГМУ/Комп Сети/Purchase_table.xlsx')
df_product = pd.read_excel('/content/gdrive/My Drive/СибГМУ/Комп Сети/Product_table.xlsx')
df_purchase_product = pd.read_excel('/content/gdrive/My Drive/СибГМУ/Комп Сети/Purchase_Product_table.xlsx')
df_customer_category.to_sql('customer_category',conn,if_exists='replace',index=False)
df_customer.to_sql('customer',conn,if_exists='replace',index=False)
df_product.to_sql('product',conn,if_exists='replace',index=False)
df_purchase.to_sql('purchase',conn,if_exists='replace',index=False)
df_purchase_product.to_sql('purchase_product',conn,if_exists='replace',index=False)

In [58]:
table("customer_category")

   CustomerCategoryID  DiscountOnSpecialProduct  Bonus
0                   1                        20      5
1                   2                        15      3
2                   3                        10      2

In [59]:
table("customer")

,CustomerID,Name,DateOfBirth,Sex,RegistrationDate,CustomerCategoryID
0,1,Жанна,1969-01-06 00:00:00,жен,2022-07-01 00:00:00,2
1,2,Лилия,1995-09-15 00:00:00,жен,2022-07-01 00:00:00,2
2,3,Василий,1982-05-30 00:00:00,муж,2022-07-01 00:00:00,3
3,4,Евгения,1987-07-22 00:00:00,жен,2022-07-02 00:00:00,1
4,5,София,1992-10-02 00:00:00,жен,2022-07-02 00:00:00,3
5,6,Сара,1976-04-17 00:00:00,жен,2022-07-03 00:00:00,1
6,7,Кристина,1998-06-19 00:00:00,жен,2022-07-04 00:00:00,2
7,8,Марк,1984-11-07 00:00:00,муж,2022-07-04 00:00:00,1
8,9,Алёна,1974-10-14 00:00:00,жен,2022-07-05 00:00:00,3
9,10,Габриэль,1979-02-04 00:00:00,муж,2022-07-05 00:00:00,2

In [60]:
table("purchase")

    PurchaseID         PurchaseDate  CustomerID
0            1  2022-07-01 00:00:00           1
1            2  2022-07-02 00:00:00           2
2            3  2022-07-02 00:00:00           3
3            4  2022-07-03 00:00:00           2
4            5  2022-07-03 00:00:00           5
5            6  2022-07-03 00:00:00           7
6            7  2022-07-04 00:00:00          10
7            8  2022-07-04 00:00:00           6
8            9  2022-07-05 00:00:00           7
9           10  2022-07-05 00:00:00           2
10          11  2022-07-06 00:00:00           9
11          12  2022-07-06 00:00:00           7
12          13  2022-07-07 00:00:00           5
13          14  2022-07-07 00:00:00           8
14          15  2022-07-08 00:00:00           4

In [61]:
table("purchase_product")

    PurchaseID  ProductID  Size  Amount
0            1          7    44       1
1            2          8    43       1
2            2          6    46       1
3            3          9    39       1
4            4          5    40       2
5            5          1    42       1
6            5          4    42       1
7            6          4    42       1
8            7          5    43       2
9            8          2    38       1
10           8          3    40       4
11           9          8    42       2
12           9          9    45       1
13           9          3    36       3
14          10          7    38       1
15          11          6    40       1
16          12          8    45       1
17          13          4    38       2
18          13          6    44       1
19          14          5    41       1
20          15          2    38       2

In [63]:
table("product")

,ProductID,Name,Producer,Price,Material,Color,ProductCategory
0,1,Блузка,Lorelei,25,Хлопок,Бежевый,Особый
1,2,Рубашка,SuperB,19,Полиэстер,Розовый,Обычный
2,3,Блузка,SommerZeit,18,Полиэстер,Розовый,Обычный
3,4,Блузка,Lorelei,28,Хлопок,Белый,Обычный
4,5,Рубашка,Lorelei,21,Хлопок,Голубой,Обычный
5,6,Юбка,Hallo-Hallo,37,Полиэстер,Коричневый,Особый
6,7,Кофта,SuperB,17,Трикотаж,Бежевый,Обычный
7,8,Кофта,Hallo-Hallo,32,Шерсть,Жёлтый,Обычный
8,9,Рубашка,Geschenk,45,Хлопок,Белый,Особый

In [10]:
show("""
	SELECT name, producer, color
	FROM product
	""")

      Name     Producer       Color
0   Блузка      Lorelei     Бежевый
1  Рубашка       SuperB     Розовый
2   Блузка   SommerZeit     Розовый
3   Блузка      Lorelei       Белый
4  Рубашка      Lorelei     Голубой
5     Юбка  Hallo-Hallo  Коричневый
6    Кофта       SuperB     Бежевый
7    Кофта  Hallo-Hallo      Жёлтый
8  Рубашка     Geschenk       Белый

In [11]:
show("""
	SELECT DISTINCT color
	FROM product
	""")

        Color
0     Бежевый
1     Розовый
2       Белый
3     Голубой
4  Коричневый
5      Жёлтый

In [12]:
show("""
	SELECT name, producer, price, color
	FROM product
	WHERE producer ='Lorelei'
	""")

      Name Producer  Price    Color
0   Блузка  Lorelei     25  Бежевый
1   Блузка  Lorelei     28    Белый
2  Рубашка  Lorelei     21  Голубой

In [13]:
show("""
	SELECT name, producer, price, color
	FROM product
	WHERE producer ='Hallo-Hallo' AND price>35
	""")

   Name     Producer  Price       Color
0  Юбка  Hallo-Hallo     37  Коричневый

In [14]:
show("""
	SELECT name, producer, price, color
	FROM product
	ORDER BY producer,price
	""")

      Name     Producer  Price       Color
0  Рубашка     Geschenk     45       Белый
1    Кофта  Hallo-Hallo     32      Жёлтый
2     Юбка  Hallo-Hallo     37  Коричневый
3  Рубашка      Lorelei     21     Голубой
4   Блузка      Lorelei     25     Бежевый
5   Блузка      Lorelei     28       Белый
6   Блузка   SommerZeit     18     Розовый
7    Кофта       SuperB     17     Бежевый
8  Рубашка       SuperB     19     Розовый

In [15]:
show("""
	SELECT name, producer, price, color
	FROM product
	ORDER BY producer DESC,price DESC
	""")

      Name     Producer  Price       Color
0  Рубашка       SuperB     19     Розовый
1    Кофта       SuperB     17     Бежевый
2   Блузка   SommerZeit     18     Розовый
3   Блузка      Lorelei     28       Белый
4   Блузка      Lorelei     25     Бежевый
5  Рубашка      Lorelei     21     Голубой
6     Юбка  Hallo-Hallo     37  Коричневый
7    Кофта  Hallo-Hallo     32      Жёлтый
8  Рубашка     Geschenk     45       Белый

In [16]:
show("""
	SELECT name, producer, price, color
	FROM product
	WHERE price BETWEEN 20 AND 30
	ORDER BY price
	""")

      Name Producer  Price    Color
0  Рубашка  Lorelei     21  Голубой
1   Блузка  Lorelei     25  Бежевый
2   Блузка  Lorelei     28    Белый

In [17]:
show("""
	SELECT name AS 'Наименование', producer AS 'Производитель', price AS 'Цена', color AS 'Цвет'
	FROM product
	WHERE price BETWEEN 20 AND 30
	ORDER BY price
	""")

  Наименование Производитель  Цена     Цвет
0      Рубашка       Lorelei    21  Голубой
1       Блузка       Lorelei    25  Бежевый
2       Блузка       Lorelei    28    Белый

In [18]:
show("""
	SELECT registrationDate AS 'Дата регистрации', COUNT(name) AS 'Количество покупателей'
	FROM customer
	GROUP BY registrationDate
	""")

      Дата регистрации  Количество покупателей
0  2022-07-01 00:00:00                       3
1  2022-07-02 00:00:00                       2
2  2022-07-03 00:00:00                       1
3  2022-07-04 00:00:00                       2
4  2022-07-05 00:00:00                       2

In [19]:
show("""
	SELECT strftime('%d-%m-%Y',registrationDate) AS 'Дата регистрации', COUNT(name) AS 'Количество покупателей'
	FROM customer
	GROUP BY registrationDate
	""")

  Дата регистрации  Количество покупателей
0       01-07-2022                       3
1       02-07-2022                       2
2       03-07-2022                       1
3       04-07-2022                       2
4       05-07-2022                       2

In [20]:
show("""
	SELECT name AS 'Имя покупателя', strftime('%d-%m-%Y',dateOfBirth) AS 'Дата рождения', strftime('%d-%m-%Y',registrationDate) AS 'Дата регистрации'
	FROM customer
	WHERE name LIKE 'С%'
	""")

  Имя покупателя Дата рождения Дата регистрации
0          София    02-10-1992       02-07-2022
1           Сара    17-04-1976       03-07-2022

In [21]:
show("""
	SELECT name AS 'Имя покупателя', strftime('%d-%m-%Y',dateOfBirth) AS 'Дата рождения', strftime('%d-%m-%Y',registrationDate) AS 'Дата регистрации'
	FROM customer
	WHERE name LIKE '_а%'
	""")

  Имя покупателя Дата рождения Дата регистрации
0          Жанна    06-01-1969       01-07-2022
1        Василий    30-05-1982       01-07-2022
2           Сара    17-04-1976       03-07-2022
3           Марк    07-11-1984       04-07-2022
4       Габриэль    04-02-1979       05-07-2022

In [22]:
show("""
	SELECT name AS 'Имя покупателя', strftime('%d-%m-%Y',dateOfBirth) AS 'Дата рождения', strftime('%d-%m-%Y',registrationDate) AS 'Дата регистрации'
	FROM customer
	WHERE LENGTH(name)=7
	""")

  Имя покупателя Дата рождения Дата регистрации
0        Василий    30-05-1982       01-07-2022
1        Евгения    22-07-1987       02-07-2022

In [23]:
show("""
	SELECT MAX(price) AS 'Максимальная цена продукта'
	FROM product 
	""")

   Максимальная цена продукта
0                          45

In [24]:
show("""
	SELECT producer AS 'Производитель', MAX(price) AS 'Максимальная цена продукта'
	FROM product
	GROUP BY producer
	""")

  Производитель  Максимальная цена продукта
0      Geschenk                          45
1   Hallo-Hallo                          37
2       Lorelei                          28
3    SommerZeit                          18
4        SuperB                          19

In [25]:
show("""
	SELECT producer AS 'Производитель', COUNT(price) AS 'Количество продуктов'
	FROM product
	GROUP BY producer
	""")

  Производитель  Количество продуктов
0      Geschenk                     1
1   Hallo-Hallo                     2
2       Lorelei                     3
3    SommerZeit                     1
4        SuperB                     2

In [26]:
show("""
	SELECT name AS 'Имя покупателя', strftime('%d-%m-%Y',dateOfBirth) AS 'Дата рождения', 
	strftime('%d-%m-%Y',registrationDate) AS 'Дата регистрации',
	customer.customerCategoryID AS 'Категория', discountOnSpecialProduct AS 'Скидка',
	bonus AS 'Бонус'
	FROM customer_category INNER JOIN customer ON 
	customer_category.customerCategoryID=customer.customerCategoryID
	ORDER BY bonus DESC
	""")

  Имя покупателя Дата рождения Дата регистрации  Категория  Скидка  Бонус
0        Евгения    22-07-1987       02-07-2022          1      20      5
1           Марк    07-11-1984       04-07-2022          1      20      5
2           Сара    17-04-1976       03-07-2022          1      20      5
3       Габриэль    04-02-1979       05-07-2022          2      15      3
4          Жанна    06-01-1969       01-07-2022          2      15      3
5       Кристина    19-06-1998       04-07-2022          2      15      3
6          Лилия    15-09-1995       01-07-2022          2      15      3
7          Алёна    14-10-1974       05-07-2022          3      10      2
8        Василий    30-05-1982       01-07-2022          3      10      2
9          София    02-10-1992       02-07-2022          3      10      2

In [27]:
show("""
SELECT CustomerID AS 'Код покупателя',
Sex AS 'Пол'
FROM customer
""")

   Код покупателя  Пол
0               1  жен
1               2  жен
2               3  муж
3               4  жен
4               5  жен
5               6  жен
6               7  жен
7               8  муж
8               9  жен
9              10  муж

In [29]:
show("""
SELECT DateOfBirth AS 'Дата рождения'
FROM customer
WHERE sex ='жен'
""")

         Дата рождения
0  1969-01-06 00:00:00
1  1995-09-15 00:00:00
2  1987-07-22 00:00:00
3  1992-10-02 00:00:00
4  1976-04-17 00:00:00
5  1998-06-19 00:00:00
6  1974-10-14 00:00:00

In [32]:
show("""
SELECT name, price, producer
FROM product
WHERE producer ='Hallo-Hallo' OR producer = 'Geschenk'
ORDER BY price DESC
""")

      Name  Price     Producer
0  Рубашка     45     Geschenk
1     Юбка     37  Hallo-Hallo
2    Кофта     32  Hallo-Hallo

In [39]:
show("""
	SELECT name AS 'Имя покупателя', strftime('%d-%m-%Y', purchaseDate) AS 'Дата покупки'
	FROM customer INNER JOIN purchase ON 
	customer.customerID=purchase.customerID
	WHERE name = 'София'
	""")

  Имя покупателя Дата покупки
0          София   03-07-2022
1          София   07-07-2022

In [43]:
show("""
SELECT CustomerCategoryID AS 'Категория',
COUNT(CustomerCategoryID) AS 'Количество покупателей'
FROM customer 
GROUP BY CustomerCategoryID
""")

   Категория  Количество покупателей
0          1                       3
1          2                       4
2          3                       3

In [42]:
table("product")

,ProductID,Name,Producer,Price,Material,Color,ProductCategory
0,1,Блузка,Lorelei,25,Хлопок,Бежевый,Особый
1,2,Рубашка,SuperB,19,Полиэстер,Розовый,Обычный
2,3,Блузка,SommerZeit,18,Полиэстер,Розовый,Обычный
3,4,Блузка,Lorelei,28,Хлопок,Белый,Обычный
4,5,Рубашка,Lorelei,21,Хлопок,Голубой,Обычный
5,6,Юбка,Hallo-Hallo,37,Полиэстер,Коричневый,Особый
6,7,Кофта,SuperB,17,Трикотаж,Бежевый,Обычный
7,8,Кофта,Hallo-Hallo,32,Шерсть,Жёлтый,Обычный
8,9,Рубашка,Geschenk,45,Хлопок,Белый,Особый

In [45]:
show("""
SELECT Producer AS 'Производитель', strftime('%d-%m-%Y',PurchaseDate) AS 'Дата покупки', name AS 'Наименование продукта'
FROM (purchase_product INNER JOIN purchase ON purchase_product.purchaseID=purchase.purchaseID)
INNER JOIN product ON purchase_product.productID
WHERE producer = 'Hallo-Hallo'
""")

   Производитель Дата покупки Наименование продукта
0    Hallo-Hallo   01-07-2022                 Кофта
1    Hallo-Hallo   01-07-2022                  Юбка
2    Hallo-Hallo   02-07-2022                 Кофта
3    Hallo-Hallo   02-07-2022                  Юбка
4    Hallo-Hallo   02-07-2022                 Кофта
5    Hallo-Hallo   02-07-2022                  Юбка
6    Hallo-Hallo   02-07-2022                 Кофта
7    Hallo-Hallo   02-07-2022                  Юбка
8    Hallo-Hallo   03-07-2022                 Кофта
9    Hallo-Hallo   03-07-2022                  Юбка
10   Hallo-Hallo   03-07-2022                 Кофта
11   Hallo-Hallo   03-07-2022                  Юбка
12   Hallo-Hallo   03-07-2022                 Кофта
13   Hallo-Hallo   03-07-2022                  Юбка
14   Hallo-Hallo   03-07-2022                 Кофта
15   Hallo-Hallo   03-07-2022                  Юбка
16   Hallo-Hallo   04-07-2022                 Кофта
17   Hallo-Hallo   04-07-2022                  Юбка
18   Hallo-Hallo   04-07-2022                 Кофта
19   Hallo-Hallo   04-07-2022                  Юбка
20   Hallo-Hallo   04-07-2022                 Кофта
21   Hallo-Hallo   04-07-2022                  Юбка
22   Hallo-Hallo   05-07-2022                 Кофта
23   Hallo-Hallo   05-07-2022                  Юбка
24   Hallo-Hallo   05-07-2022                 Кофта
25   Hallo-Hallo   05-07-2022                  Юбка
26   Hallo-Hallo   05-07-2022                 Кофта
27   Hallo-Hallo   05-07-2022                  Юбка
28   Hallo-Hallo   05-07-2022                 Кофта
29   Hallo-Hallo   05-07-2022                  Юбка
30   Hallo-Hallo   06-07-2022                 Кофта
31   Hallo-Hallo   06-07-2022                  Юбка
32   Hallo-Hallo   06-07-2022                 Кофта
33   Hallo-Hallo   06-07-2022                  Юбка
34   Hallo-Hallo   07-07-2022                 Кофта
35   Hallo-Hallo   07-07-2022                  Юбка
36   Hallo-Hallo   07-07-2022                 Кофта
37   Hallo-Hallo   07-07-2022                  Юбка
38   Hallo-Hallo   07-07-2022                 Кофта
39   Hallo-Hallo   07-07-2022                  Юбка
40   Hallo-Hallo   08-07-2022                 Кофта
41   Hallo-Hallo   08-07-2022                  Юбка

In [57]:
show("""
SELECT strftime('%d-%m-%Y',purchaseDate) AS 'Дата покупки',
customer.name AS 'Имя покупателя',
product.producer AS 'producer', 
product.color AS 'color',
purchase_product.size AS 'size'

FROM ((customer INNER JOIN purchase ON customer.CustomerID = purchase.CustomerID)
INNER JOIN purchase_product ON purchase.purchaseID=purchase_product.purchaseID)
INNER JOIN product ON product.ProductID=purchase_product.ProductID

WHERE product.name = 'Блузка' AND color = 'Белый'
""")

  Дата покупки Имя покупателя producer  color  size
0   03-07-2022          София  Lorelei  Белый    42
1   03-07-2022       Кристина  Lorelei  Белый    42
2   07-07-2022          София  Lorelei  Белый    38

In [64]:
show("""
SELECT product.producer AS 'Производитель', SUM(amount*price) AS 'стоимость'

FROM (purchase INNER JOIN purchase_product ON purchase.purchaseID=purchase_product.purchaseID)
INNER JOIN product ON product.ProductID=purchase_product.ProductID
GROUP BY producer
""")

  Производитель  стоимость
0      Geschenk         90
1   Hallo-Hallo        239
2       Lorelei        242
3    SommerZeit        126
4        SuperB         91

In [71]:
show("""
SELECT customer.name AS 'Имя покупателя', 
customer.customerCategoryID AS 'Категория покупателя'

FROM customer INNER JOIN purchase ON customer.customerID=purchase.customerID
WHERE strftime('%d-%m-%Y',purchaseDate) = '03-07-2022' 
AND customer.name IN ('София', 'Алекс', 'Марта', 'Кристина')
""")

  Имя покупателя  Категория покупателя
0          София                     3
1       Кристина                     2